<!-- Extends the basic template-->
{% extends 'frontend/admin.html' %}
{% load static %}
<!-- Here goes the title of the page-->
{% block title %} Experience{% endblock %}
{% block link %}
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'admin/vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
<!-- End plugin css for this page -->

{% endblock link %}
{% block css %}
    
    .date{
        white-space: nowrap;
    }

    .long{
        word-break: break-word;
        text-align: left;
      }
    .normal{
        line-height: 1;
        white-space: nowrap;
    }
    th, td{
        text-align:center;
    }

    td{
        align-items:center;
        justify-content:center;
    }
    a{
        margin-left: 15px;
    }
{% endblock css %}
{% block body %}

{% if experience_page %}

<!--Form for uploading data in experience section -->
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Experiences</h4>
            <p class="card-description">
            Experience Section
            </p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media}}
                <br>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a type='button' class="btn btn-light" href = "{% url 'admin_experience' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>


<!--Displaying the experience model's data in the table -->
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Every Experiences </h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                        Sr.
                        </th>
                        <th>
                        Type
                        </th>
                        <th>
                        Company
                        </th>
                        <th>
                        Duration
                        </th>
                        <th>
                        Details
                        </th>
                        <th>
                        Edit
                        </th>
                        <th>
                        Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for experience_items in experience_model %}
                    <tr>
                        <td>
                        {{forloop.counter}}
                        </td>
                        <td>
                            <p>
                            {{experience_items.experience_type}}
                        </td>
                        <td class = 'long'>
                            <p>
                            {{experience_items.experience_company}}
                            </p>
                        </td>
                        <td class = 'date'>
                            <p>
                            {{experience_items.experience_duration}}
                            </p>
                        </td>
                        <td class = 'long'>
                            <p align="left">
                            {{experience_items.experience_details|safe}}
                            </p>
                        </td>
                        <td class = "normal">
                        <a type="button"  class="btn btn-outline-primary btn-fw" href="{% url 'admin_experience_edit' experience_items.id %}">Edit</a>
                        </td>
                        <td class = "normal">
                        <a type="button" class="btn btn-outline-danger btn-fw btn-md" href="{% url 'admin_experience_delete' experience_items.id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% else %}


<!--Edit form for the experience model's data-->
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit your Experiences</h4>
            <p class="card-description">
            Experience Section
            </p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
                {{ form.media}}
                <br>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a type='button' class="btn btn-light" href = "{% url 'admin_experience' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% block js %}

<!-- plugins:js -->
<script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'admin/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/js/template.js' %}"></script>
<script src="{% static 'admin/js/settings.js' %}"></script>
<script src="{% static 'admin/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'admin/js/file-upload.js' %}"></script>
<script src="{% static 'admin/js/typeahead.js' %}"></script>
<script src="{% static 'admin/js/select2.js' %}"></script>
<!-- End custom js for this page-->
{% endblock js %}
{% endblock body %}

